<!doctype html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="leading-normal">
    <%- include('./src/layout/header.ejs') %>
    <section
      class="h-[396px] bg-sm-banner bg-cover bg-center md:h-[787px] xl:bg-banner"
    >
      <div class="container h-full px-[14px]">
        <div class="h-full text-primary-Dark">
          <div class="flex h-full flex-col items-end justify-center">
            <p class="md:text-4xl md:leading-[54px]">
              Promise-Desert 2020 早春系列
            </p>
            <h2
              class="pb-[14px] text-2xl font-bold md:pb-[10px] md:text-[64px] md:leading-[96px]"
            >
              看得清，才能看得遠
            </h2>
            <a
              href="#"
              class="bg-primary-Dark px-3 py-[6px] text-xl text-white hover:bg-primary"
            >
              立即購買
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-secondary pt-10 md:py-20">
      <div class="container-base">
        <h2
          class="pb-6 text-center text-2xl font-bold text-primary-Dark md:text-5xl"
        >
          用專業的心，做專業的事
        </h2>
        <ul
          class="sm:text-center md:grid md:grid-cols-2 md:gap-6 md:text-left xl:grid-cols-4"
        >
          <li class="pb-4">
            <div class="flex justify-center pb-6">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true"
                alt="money"
              />
            </div>
            <h3 class="professional-service-title">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="pb-4">
            <div class="flex justify-center pb-6">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true"
                alt="time"
              />
            </div>
            <h3 class="professional-service-title">20 分鐘即可取件</h3>
            <p>
              為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快
              20 分鐘即可完成。
            </p>
          </li>
          <li class="pb-4 md:p-0">
            <div class="flex justify-center pb-6">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true"
                alt="love"
              />
            </div>
            <h3 class="professional-service-title">安心售後服務</h3>
            <p>
              我們提供長達 120
              天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。
            </p>
          </li>
          <li class="pb-4 md:p-0">
            <div class="flex justify-center pb-6">
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true"
                alt="glasses"
              />
            </div>
            <h3 class="professional-service-title">關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="container px-[14px] text-center xl:px-0">
      <h2
        class="pb-6 pt-10 text-2xl font-bold text-primary-Dark md:pb-12 md:pt-20 md:text-5xl"
      >
        經典系列鏡框
      </h2>
      <ul class="xl:grid xl:grid-cols-3 xl:gap-6">
        <li class="classic-item">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
            alt="OPTICAL"
          />
          <h3 class="classic-item-title">OPTICAL</h3>
        </li>
        <li class="classic-item">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
            alt="SUNGLASSES"
          />
          <h3 class="classic-item-title">SUNGLASSES</h3>
        </li>
        <li class="classic-item">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
            alt="FUNCTIONAL"
          />
          <h3 class="classic-item-title">FUNCTIONAL</h3>
        </li>
      </ul>
    </section>

    <section
      class="bg-sm-glasses bg-cover bg-center pb-10 md:pb-20 xl:bg-glasses"
    >
      <div class="container-base text-center">
        <h2
          class="pb-6 pt-10 text-2xl font-bold text-white md:pb-12 md:pt-20 md:text-5xl md:leading-[72px]"
        >
          聯名設計鏡框
        </h2>
        <ul class="xl:flex">
          <li class="pb-6 xl:pb-0">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1-sm.png?raw=true"
              alt="DOUBLE A+"
              class="w-full md:hidden"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
              alt="DOUBLE A+"
              class="hidden md:block"
            />
            <h3 class="bg-white text-5xl font-bold leading-normal text-primary">
              DOUBLE A+
            </h3>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2-sm.png?raw=true"
              alt="YOUTH"
              class="w-full md:hidden"
            />
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
              alt="YOUTH"
              class="hidden md:block"
            />
            <h3 class="bg-white text-5xl font-bold leading-normal text-primary">
              YOUTH
            </h3>
          </li>
        </ul>
      </div>
    </section>

    <section class="container-base">
      <h2
        class="pb-6 pt-10 text-center text-2xl font-bold text-primary md:pb-12 md:pt-20 md:text-5xl md:leading-[72px]"
      >
        顧客推薦
      </h2>
      <ul class="pb-10 md:grid md:grid-cols-2 md:gap-6 md:pb-20 xl:grid-cols-4">
        <li class="flex flex-col pb-4">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
            alt="Jessy"
          />
          <div class="customer-card">
            <div>
              <p>Jessy</p>
              <p class="pt-2">眼鏡品質優良，下次還會想來這邊購買！</p>
            </div>
            <p class="customer-card-date">2021/06/20</p>
          </div>
        </li>
        <li class="flex flex-col pb-4">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
            alt="凱倫"
          />
          <div class="customer-card">
            <div>
              <p>凱倫</p>
              <p class="pt-2">
                做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！
              </p>
            </div>
            <p class="customer-card-date">2021/04/18</p>
          </div>
        </li>
        <li class="flex flex-col pb-4">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
            alt="悠悠"
          />
          <div class="customer-card">
            <div>
              <p>悠悠</p>
              <p class="pt-2">
                謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！
              </p>
            </div>
            <p class="customer-card-date">2020/12/25</p>
          </div>
        </li>
        <li class="flex flex-col pb-4">
          <img
            src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
            alt="Kyuan"
          />
          <div class="customer-card">
            <div>
              <p>Kyuan</p>
              <p class="pt-2">服務很好，品質沒有任何問題，非常喜歡。</p>
            </div>
            <p class="customer-card-date">2020/10/31</p>
          </div>
        </li>
      </ul>
    </section>

    <section class="bg-secondary">
      <form class="container px-[14px] md:px-24 xl:px-[330px]">
        <h2
          class="pb-6 pt-10 text-center text-2xl font-bold text-primary-Dark md:pb-12 md:pt-20 md:text-5xl md:leading-[72px]"
        >
          聯絡我們
        </h2>
        <p class="pb-6">
          我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
        </p>
        <div class="flex flex-col pb-4">
          <label for="name" class="pb-2">姓名</label>
          <input
            id="name"
            type="text"
            name="name"
            placeholder="陳小明"
            class="input-base"
          />
        </div>
        <div class="flex flex-col pb-4">
          <label for="tel" class="pb-2">聯絡電話</label>
          <input
            id="tel"
            type="tel"
            name="tel"
            placeholder="0912-345-678"
            class="input-base"
          />
        </div>
        <div class="flex flex-col pb-4">
          <label for="email" class="pb-2">電子郵件</label>
          <input
            id="email"
            type="text"
            name="email"
            placeholder="example@email.com"
            class="input-base"
          />
        </div>
        <div class="flex flex-col pb-4">
          <label for="feedback" class="pb-2">意見反應</label>
          <textarea
            name="feedback"
            id="feedback"
            placeholder="請輸入您的意見"
            class="input-base h-[136px]"
          ></textarea>
        </div>
        <div class="flex pb-6 md:pb-12">
          <div>
            <input
              type="checkbox"
              name="agree"
              id="agree"
              class="mr-1 h-6 w-6 border pl-3 pt-[6px]"
            />
          </div>
          <label for="agree"
            >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
          >
        </div>
        <div class="pb-10 md:pb-20">
          <button
            type="button"
            class="block w-full bg-primary py-4 font-bold text-white hover:bg-primary-Dark md:m-auto md:w-[336px]"
          >
            確認送出
          </button>
        </div>
      </form>
    </section>
    <%- include('./src/layout/footer.ejs') %>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
