<!doctype html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week3</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script type="module" src="../main.ts"></script>
  </head>
  <body class="leading-normal">
    <%- include('./src/layout/header.ejs') %>

    <section class="container-base pt-10 md:pt-20 xl:pt-24">
      <h2
        class="border-l-8 border-primary pl-4 text-2xl font-bold leading-9 xl:text-5xl xl:leading-[72px]"
      >
        常見問題
      </h2>
      <h2 class="pt-6 text-2xl font-bold leading-9 xl:pt-8">
        我想詢問配鏡問題
      </h2>

      <ol class="pb-16 pt-6 md:pb-20 xl:w-[53.5rem]">
        <li class="question-item">
          <h3 class="question-title">Q1.請問可否自備鏡框單配鏡片？</h3>
          <p>
            A1.我牌鏡框搭配薄型非球面鏡片 1480
            元，搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
            元），搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            他牌鏡框，搭配薄型非球面鏡片 1980
            元，搭配功能型鏡片則依鏡片種類加價購買。
          </p>
        </li>
        <li class="question-item">
          <h3 class="question-title">Q2.眼鏡都可以20分鐘取件嗎？</h3>
          <p>
            A1.我牌鏡框搭配薄型非球面鏡片 1480
            元，搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
            元），搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            他牌鏡框，搭配薄型非球面鏡片 1980
            元，搭配功能型鏡片則依鏡片種類加價購買。
          </p>
        </li>
        <li class="question-item">
          <h3 class="question-title">Q3.散光鏡片需要額外加價嗎？</h3>
          <p>
            A1.我牌鏡框搭配薄型非球面鏡片 1480
            元，搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
            元），搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            他牌鏡框，搭配薄型非球面鏡片 1980
            元，搭配功能型鏡片則依鏡片種類加價購買。
          </p>
        </li>
        <li class="question-item">
          <h3 class="question-title">Q4.我可以使用舊眼鏡的度數配鏡片嗎？</h3>
          <p>
            A1.我牌鏡框搭配薄型非球面鏡片 1480
            元，搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
            元），搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            他牌鏡框，搭配薄型非球面鏡片 1980
            元，搭配功能型鏡片則依鏡片種類加價購買。
          </p>
        </li>
        <li>
          <h3 class="question-title">Q5.請問可以單購買鏡框嗎？</h3>
          <p>
            A1.我牌鏡框搭配薄型非球面鏡片 1480
            元，搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            當日購買JINS盒裝眼鏡，搭配薄型非球面鏡片 980 元（隔日後則為 1480
            元），搭配功能型鏡片則依鏡片種類加價購買。
            <br />
            他牌鏡框，搭配薄型非球面鏡片 1980
            元，搭配功能型鏡片則依鏡片種類加價購買。
          </p>
        </li>
      </ol>
    </section>

    <%- include('./src/layout/footer.ejs') %>
  </body>
</html>
