<nav class="bg-[rgb(101,3,0)]">
  <ul class="flex text-center md:container md:px-9 xl:px-0">
    <li class="flex-1 md:mr-12 md:flex-none">
      <a href="#" class="blog-menu-item"> 最新消息 </a>
    </li>
    <li class="flex-1 md:mr-12 md:flex-none">
      <a href="#" class="blog-menu-item"> 特別企劃 </a>
    </li>
    <li class="flex-1 md:mr-12 md:flex-none">
      <a href="#" class="blog-menu-item"> 新品上市 </a>
    </li>
    <li class="flex-1 md:mr-12 md:flex-none">
      <a href="#" class="blog-menu-item"> 鏡框小知識 </a>
    </li>
    <li class="ml-auto hidden md:block">
      <form>
        <a href="#" class="hover-effect block">
          <span class="material-symbols-outlined block p-3 text-white">
            search
          </span>
        </a>
      </form>
    </li>
  </ul>
</nav>
