<section class="container">
  <ul class="grid grid-cols-3 border text-center">
    <li class="border-b-8 border-primary">
      <a
        href="/src/pages/optical.html"
        class="block border-r px-3 py-4 sm:text-2xl sm:leading-7"
        >OPTICAL</a
      >
    </li>
    <li class="hover:border-b-8 hover:border-primary">
      <a
        href="/src/pages/sunglasses.html"
        class="block border-r px-3 py-4 sm:text-2xl sm:leading-7"
        >SUNGLASSES</a
      >
    </li>
    <li class="hover:border-b-8 hover:border-primary">
      <a href="#" class="block px-3 py-4 sm:text-2xl sm:leading-7"
        >FUNCTIONAL</a
      >
    </li>
  </ul>
</section>
