<nav class="pb-16 pt-16 xl:py-20">
  <ul class="flex text-base sm:justify-center">
    <li class="pagination-link border-l">
      <a href="#" class="block p-3 text-center">上一頁</a>
    </li>
    <li class="pagination-link">
      <a href="#" class="block p-3 text-center sm:px-4 sm:py-3">1</a>
    </li>
    <li class="pagination-link-active">
      <a href="#" class="block p-3 text-center sm:px-4 sm:py-3">2</a>
    </li>
    <li class="pagination-link">
      <a href="#" class="block p-3 text-center sm:px-4 sm:py-3">3</a>
    </li>
    <li class="pagination-link">
      <a href="#" class="block p-3 text-center sm:px-4 sm:py-3">4</a>
    </li>
    <li class="pagination-link">
      <a href="#" class="block p-3 text-center sm:px-4 sm:py-3">5</a>
    </li>
    <li class="pagination-link-inactive">
      <a href="#" class="block p-3 text-center">下一頁</a>
    </li>
  </ul>
</nav>
