<div class="flex">
  <p class="mr-auto">BJ41600S</p>
  <span class="text-primary">NTD3,490</span>
</div>
<div class="flex">
  <a href="#" class="color-dark-brown"></a>
  <a href="#" class="color-medium-brown"></a>
</div>
