<section class="flex h-[136px] sm:h-[296px]">
  <div
    class="product-background-image-base bg-sm-product-left xl:bg-product-left"
  ></div>
  <div
    class="product-background-image-base bg-sm-product-right xl:bg-product-right"
  ></div>
</section>
